<style>
	#nameInput{
		position: absolute; left:100px; top: 50px; 
	}
	#googleMap{
		height:800px;
	}
	#addButton{
		position: absolute; left:300px; top: 50px;
	}
	#cancelButton{
		position: absolute; left:350px; top: 50px;
	}
	#cancelButton{
		position: absolute; left:350px; top: 50px;
	}
	#current{
		position: absolute; left:420px; top: 50px;
	}
	#positionDiv{
		position: absolute; left:400px; top: 100px; background-color: white;
	}

</style>

			<div id="YourElementId" >
			<div id="googleMap"></div>
			    <input id="nameInput" ng-model="nameNg" placeholder="search"/>
			<button id="addButton" type="button" ng-click="add()">Add</button>
			<button id="cancelButton" type="button" onclick="cancel()">cancel</button>
			<button  type="button" ng-click="moveTo()">New York City</button>
			<button id="current" type="button" onclick="locate()">Current Location</button>
			<div id="positionDiv">
			<p id="position">position:</p>
			<p id = "placeList"></p>
			=======================
			<table id="pinTable">
			    <tr>
			        <th>ID</th>
			        <th>NAME</th>
			        <th>LAT</th>
			        <th>LNG</th>
			    </tr>
			<p>{{nameNg}}</p>
			    <tr ng-repeat="(id,position) in positions">
			        <td>{{id}}</td>
			        <td>{{position.name}}</td>
			        <td>{{position.lat}}</td>
			        <td>{{position.lng}}</td>
			    </tr>
			</table>
			</div>
			</div>